@tailwind base;
@tailwind components;
@tailwind utilities;

/*
--fandango: hsla(313, 52%, 42%, 1);
--timberwolf: hsla(353, 12%, 87%, 1);
--platinum: hsla(158, 12%, 87%, 1);
--ash-gray: hsla(156, 3%, 65%, 1);
--white: hsla(0, 0%, 100%, 1);
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 313 50% 40%;

    --header-bg: 313 50% 40%;
    --header-fg: 0 0% 100%;
  

    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 353, 12%, 87%;
    --card-foreground: 313 51% 41%;
    --card-news-foreground: 1 80% 71%;
    

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --line: 0.3em solid white;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 100%;

    --header-bg: 295 100% 11%;
    --header-fg: 0 0% 100%;

    --muted: 223 47% 11%;
    --muted-foreground: 0 0% 100%;;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    /* --card: 316, 62%, 10%; Card alt color */
    --card: 295 100% 11%; /*Card same as header*/

    --card-foreground: 213 31% 91%;
    --card-news-foreground: 1 80% 71%;
    

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.header-background {
  background-color: hsl(var(--header-bg));
  color: hsl(var(--header-fg)); 
}

.span-background {
  color: hsl(var(--header-fg)); 
}

.pl-button {
  background-color: hsl(var(--foreground));
}

.pitch-container {
  width: 120em;
  height: 80em;
  background-color: green;
  font-size: 5px;
  /* padding: 5em; */

}

.injury-status {
  color: #d0605e;
}


.pitch-container span {
  display: block;
}

.pitch-field {
  border: var(--line);
  position: relative;
  overflow: hidden;
  /*角球线隐藏*/
  width: inherit;
  height: inherit;
  z-index: 1;
}

.pitch-halfway-line {
  width: 60em;
  height: 80em;
  border-right: var(--line);
}

.pitch-centre-circle,
.pitch-penalty-arc {
  width: 20em;
  height: 20em;
  border: var(--line);
  border-radius: 50%;
  position: absolute;
  top: 30em;
}

.pitch-centre-circle {
  left: calc((120em - 20em - 0.3em)/2);
}

.pitch-centre-mark {
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: calc(80em / 2 - 1em);
  left: calc(120em / 2 - 1em + 0.3em / 2);

}

.pitch-penalty-mark {
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: calc(80em / 2 - 1em);
  left: calc(12em - 2em / 2);
}

.pitch-penalty-area {
  width: 18em;
  height: 44em;
  border: var(--line);
  position: absolute;
  top: calc((80em - 44em) / 2);
  left: -0.3em;
  background-color: green;
}

.pitch-penalty-arc {
  left: calc(12em - 20em / 2);
  z-index: -1;
}

.pitch-goal-area {
  width: 6em;
  height: 20em;
  border: var(--line);
  position: absolute;
  top: calc((80em - 20em) / 2);
  left: -0.3em;
}

.pitch-corner-arc{
  border:1px solid red;
}

.pitch-corner-arc::after,
.pitch-corner-arc::before{
  content: '';
  position: absolute;
  width: 5em;
  height: 5em;
  border: 0.3em solid white;
  border-radius: 50%;
  left:calc(-5em / 2 - 0.3em);
}

.pitch-corner-arc::before {
  top:calc(-5em / 2 - 0.3em);
}

.pitch-corner-arc::after {
  bottom:calc(-5em / 2 - 0.3em);
}

.playerImageContainer {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; White circle background */
  border-radius: 15%; /* Creates a circle */
  overflow: hidden; /* Hides overflow content outside the circle */
}

.playerImage {
  object-fit: cover;
}

/* .corner-arc-top {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 0.3em solid white;
  border-radius: 0 0 100px 0;
  position: absolute;
  top: -5%;
  left:-5%;
  position: absolute;
}

.corner-arc-bottom {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 0.3em solid white;
  border-radius: 0 100px 0 0;
  position: absolute;
  top: 880px;
  left: -20px;
  position: absolute;
} */

.pitch-right {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: rotateY(180deg);
}

.circular-landscape { display: inline-block; position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; } .circular-landscape img { width: auto; height: 100%; margin-left: -50px; }
