@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    --line: 0.3em solid white;
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


.pitch-container {
  width: 120em;
  height: 80em;
  background-color: green;
  font-size: 5px;

}

.pitch-container span {
  display: block;
}

.pitch-field {
  border: var(--line);
  position: relative;
  overflow: hidden;
  width: inherit;
  height: inherit;
  z-index: 1;
}

.pitch-halfway-line {
  width: 60em;
  height: 80em;
  border-right: var(--line);
}

.pitch-centre-circle,
.pitch-penalty-arc {
  width: 20em;
  height: 20em;
  border: var(--line);
  border-radius: 50%;
  position: absolute;
  top: 30em;
}

.pitch-centre-circle {
  left: calc((120em - 20em - 0.3em)/2);
}

.pitch-centre-mark {
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: calc(80em / 2 - 1em);
  left: calc(120em / 2 - 1em + 0.3em / 2);

}

.pitch-penalty-mark {
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: calc(80em / 2 - 1em);
  left: calc(12em - 2em / 2);
}

.pitch-penalty-area {
  width: 18em;
  height: 44em;
  border: var(--line);
  position: absolute;
  top: calc((80em - 44em) / 2);
  left: -0.3em;
  background-color: green;
}

.pitch-penalty-arc {
  left: calc(12em - 20em / 2);
  z-index: -1;
}

.pitch-goal-area {
  width: 6em;
  height: 20em;
  border: var(--line);
  position: absolute;
  top: calc((80em - 20em) / 2);
  left: -0.3em;
}

.pitch-corner-arc{
  border:1px solid red;
}

.pitch-corner-arc::after,
.pitch-corner-arc::before{
  content: '';
  position: absolute;
  width: 5em;
  height: 5em;
  border: 0.3em solid white;
  border-radius: 50%;
  left:calc(-5em / 2 - 0.3em);
}

.pitch-corner-arc::before {
  top:calc(-5em / 2 - 0.3em);
}

.pitch-corner-arc::after {
  bottom:calc(-5em / 2 - 0.3em);
}

.pitch-right {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: rotateY(180deg);
}